@use '../../styles/mixins';

.style-control {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.style-control__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.style-control__field-label {
  @include mixins.huesys-label;
}
