@use '../../styles/huesys-mixins';

.typography-control {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.typography-control__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.typography-control__field-label {
  @include huesys-mixins.huesys-label;
}
